<!DOCTYPE html>
<html>
<head>
    <title>VK Friends Analyze</title>
     <link href="https://cdn.jsdelivr.net/gh/tofsjonas/sortable@latest/sortable.min.css" rel="stylesheet" />
</head>
<body>
    <h1><a href="{% url 'main' %}">VK Friends Analyze<</a></h1>
    <nav>
        {% if user.is_anonymous %}
            <div style="text-align: right">
                <a href="{% url 'registration' %}">Регистрация</a>
                <a href="{% url 'auth' %}">Авторизация</a>
            </div>
        {% else %}
            <a href="{% url 'main' %}">Главная</a>
            <a href="{% url 'graphtopmenu' %}">Анализ друзей с помощью графов</a>
             <a href="{% url 'group' %}">Анализ групп</a>
{#            <a href="{% url 'main' %}">Граф</a>#}
            <div style="text-align: right">
                {% if not user.is_anonymous %}
                    Вы авторизованы как <b>{{ user.username }}</b>
                {% endif %}
                <a href="{% url 'logout' %}">Выход</a>
            </div>
        {% endif %}
    </nav>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>