{% extends 'base.html' %}
{% block content %}
    <link href="https://cdn.jsdelivr.net/gh/tofsjonas/sortable@latest/sortable.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/gh/tofsjonas/sortable@latest/sortable.min.js"></script>

    <h2>Введите vk_id</h2>
    <form action="" method="get">
            {% csrf_token %}
            {{ form.as_p }}
            <button> Показать топ вершин </button>
    </form>

    {% if points|length > 0 %}
        <div style="width:70%;float:right">
        <h2>Граф</h2>
        {% include algorithm_path %}
        </div>

        <h2>Вершины</h2>
        <table class="sortable">
            <thead>
            <tr>
                <th>Фамилия, имя</th>
                {% if alg == 2 %}
                    <th>Page Rank</th>
                {% endif %}
                {% if alg == 3 %}
                    <th>HITS hub</th>
                    <th>HITS authority</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for point in points %}
                <tr>
                    <td>
                    {{ point.surname}}
                    {{ point.name}}
                    </td>
                    {% if alg == 2 %} <td>{{ point.page_rank_result}}</td> {% endif %}
                    {% if alg == 3 and  point.hits_result_hub != ''%} <td>{{ point.hits_result_hub}}</td> {% endif %}
                    {% if alg == 3 and point.hits_result_auth != '' %} <td>{{ point.hits_result_auth}}</td> {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}